footer {
    background-color: #81736e;

    .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 50px 80px;
    }

    .logo {
        max-height: 125px;
        a {
            display: block;
            height: 125px;
        }
        img {
            height: 100%;
        }
    }

    .right-container {
        img{
            width: 140px;
        }
    }
}
