header{
    .header-container{
        display: flex;
        align-items: center;
        .logo{
            position: relative;
            flex: 0 0 600px;
            padding: 60px 0px;

            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                background-image: url('../images/header-logo-bg.png');
                background-repeat: no-repeat;
                background-position-x: right;
                background-position-y: center;            
                z-index: 2;
            }

            &:after{
                content: '';
                background-color: #81726e;
                position: absolute;
                width: 80%;
                height: 100%;
                top: 0px;
            }

            > a{
                display: block;
                position: relative;
                z-index: 2;
                padding: 0px 80px;
                img{
                    max-height: 127px;
                    width: 406px;
                }
            }
        }

        .header-menu{
            flex: 1;
        }
        
    }

    #menu-header-menu{
        justify-content: space-between;
        padding: 0px 60px;

        a{
            color: #81736E;
            font-size: 40px;
            text-decoration: none;
            position: relative;

            &:hover:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -5px;
                background-color: #81736E;
            }
        }
    }
}